body, html {
  margin: 0;
  padding: 0;
  
  background-color: #15172a;
  color:#ffff;
}

#carouselExampleSlidesOnly {
  height: 400px; /* o lo que quieras */
  overflow: hidden;
  margin-bottom: 2rem;
}

#carouselExampleSlidesOnly .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom center;
}

.menuNav {
  list-style: none;
  display: flex;
}

.menuNav li {
  color: #ffff;
}

.tituloysubtitulo{
  text-align: center;
}

.textoCuerpo {
  text-align: center;
  margin: 10px 390px 10px 390px;
}

.my-card-container { 
  margin-left: 300px;
  margin-right: 100px;
}