body, html {
  margin: 0;
  padding: 0;
  
  background-color: #15172a;
  color:#ffff;
}

#carouselExampleSlidesOnly {
  height: 400px; /* o lo que quieras */
  overflow: hidden;
  margin-bottom: 2rem;
}

#carouselExampleSlidesOnly .carousel-item img {
  height: 100%;
  width: 100%;
  object-fit: cover;
  object-position: bottom center;
}

.menuNav {
  list-style: none;
  display: flex;
}

.menuNav li {
  color: #ffff;
}

.tituloysubtitulo{
  text-align: center;
  margin-bottom: 90px;
}

.textoCuerpo {
  text-align: center;
  margin: 10px 390px 10px 390px;
}

.my-card-container { 
  margin-left: 300px;
  margin-right: 100px;
  
}

.card img {
  width: 100%;
  height: 200px; /* o lo que se vea bien */
  object-fit: cover;
}


.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: #15172a;
  padding: 1rem 2rem;
  height: 120px;
}

.logo, .animation-right {
  width: 200px;
  margin-top: 60px;
}

.menuNav {
  list-style: none;
  display: flex;
  gap: 2rem;
  margin: 0;
  padding: 0;
  margin-right: 50px;
}

.menuNav li a {
  color: white;
  text-decoration: none;
  font-size: 1.2rem;
  transition: color 0.3s ease;
}

.menuNav li a:hover {
  color: #00bfff; /* Azul claro al pasar el mouse */
}

.card {
  opacity: 80%;
  transition: all 0.3s ease;
}

.card:hover {
  opacity: 100%;
  transform: translate(5px, -5px);
}

.cuerpoQuienes {
  text-align: center;
  margin-top: 60px;

}

.cuerpoQuienes h4{
  margin: 60px 90px 30px 90px
}

.recuadro {
  border: 1px solid white;
  border-radius: 5px;
  margin:50px 290px 100px 320px;
}

.recuadro h4 {
  font-weight: 100;
}

.barrita {
  display: flex;
  justify-content: center;
  width: 100%;
  
}

.footer-container {
  display: flex;
  
  align-items: center;
  background-color: #15172a;
  padding: 1rem 2rem;  
  border: 1px solid rgba(255, 255, 255, 0.23);
}

.tituloFooter {
  text-align: center;
margin-top: 40px;
}